<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <link href="~/css/GlobalStyles.css" rel="stylesheet" />
    <link href="~/css/FormStyles.css" rel="stylesheet" />
    <title>@ViewData["Title"] - Polls.Mvc</title>
</head>
<body>
    <nav>

        <div class="left-side">
            <ul>
                <li><a class="text-highlight link" asp-action="Index" asp-controller="Home">Strona głowna</a></li>
                <li><a asp-action="Create" asp-controller="Polls" class="link">Nowy formularz</a></li>
            </ul>
        </div>

        <div class="right-side">
            <ul>
                @await Html.PartialAsync("_login")
            </ul>
        </div>

    </nav>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
