<link href="~/vue/create-poll/css/app.5b1cb4c3.css" rel="stylesheet"/>

<div id="app">

</div>

<script src="~/vue/create-poll/js/chunk-vendors.9e9d1747.js"></script>
<script src="~/vue/create-poll/js/app.1fd4d7b2.js"></script>