<link href="~/vue/edit-poll/css/app.5b1cb4c3.css" rel="stylesheet" />
<div id="app">

</div>
<script src="~/vue/edit-poll/js/chunk-vendors.37e20b2c.js"></script>
<script src="~/vue/edit-poll/js/app.3c219df4.js"></script>