
.question-box {
    margin-bottom: 10px;
}

.question-text {
    font-size: 1.3em;
    font-weight: bold;
}

.choices {
    font-size: 1.2em;
    padding: 5px 0;
}

.text-input {
    margin-top: 10px;
}

.form-title {
    font-size: 2em;
}

.form-desc {
    font-size: 1.3em;
    font-weight: normal;
}
