.form {
    background: white;
    max-width: 800px;
    margin: 0 auto;
    padding: 10px 30px;
    -webkit-box-shadow: -1px -1px 34px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px -1px 34px -8px rgba(0,0,0,0.75);
    box-shadow: -1px -1px 34px -8px rgba(0,0,0,0.75);
}

.question-box {
    margin-bottom: 10px;
}

.question-text {
    font-size: 1.3em;
    font-weight: bold;
}

.choices {
    font-size: 1.2em;
    padding: 5px 0;
}

.text-input {
    margin-top: 10px;
}

.form-title {
    font-size: 2em;
}

.form-desc {
    font-size: 1.3em;
    font-weight: normal;
}
