@model IEnumerable<Polls.Infrastructure.Dto.PollDto>
@{
    ViewData["Title"] = "Home Page";
}

<h3>Twoje ankiety: </h3>
<div>

    <ul>
        @foreach(var poll in Model)
        {
            <li>
                <a asp-action="Details" asp-controller="Polls" asp-route-id="@poll.Id" class="link">
                    @poll.Title
                </a>
            </li>
        }
    </ul>
</div>
